body{
    margin:auto;
    width:1500px;
    background-color: rgb(159, 175, 14);
}

header{
    height: 100px;
    text-align: center;
    font-size: 2em;
}

#flex-divs{
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    border: 10px solid rgb(107, 44, 112);
    border-style: outset;
}

.ads{
    width: 250px;
}

#ad1{
    background-image: url(/assets/Images/Ads%20images/pexels-photo-11513308.jpeg);
    background-size: 100% 100%;
}

#ad2{
    background-image: url(/assets/Images/Ads%20images/pexels-photo-2290786.jpeg);
    background-size: 100% 100%;
}

#play-area{
    width: 900px;
    height: 600px;
    position: relative;
    background-image: url(/assets/Images/parallax-mountain-animX1.gif);
    background-size: cover;
    display: flex;
    justify-content: center;
}

#start-button{
    position: absolute;
    height:100px;
    width: 200px;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: 700;
    
}

#start-timer{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    height:100px;
    width: 200px;
    font-size: 5em;
    font-weight: 700;
    text-align: center;
    color:red;
}

.score-board{
    width: 150px;
    height: 100px; 
}

#game-timer{
    width: 200px;
    height: 80px; 
    background-color: black;
    color: red;
    font-size: 4em;
    text-align:center;
    display: none;
}

#bgMusicButton{
    position: absolute;
    width: 50px;
    height: 40px;
    left: 850px;
    text-align: center;
}

#sound-effect-button{
    position: absolute;
    width: 50px;
    height: 40px;
    left: 850px;
    top:45px;
    text-align: center;
}

.players{
    width:60px;
    height:60px;
    position: absolute;
    display: none;
    
}


#player2{
    transform: scaleX(-1);
    /* animation: goldenFloating 3s ease-in-out infinite alternate; */
}

.dragons{
    width:100px;
    height:60px;
    position: absolute;
    display: none;
    
}

/* @keyframes goldenFloating {
    from {
        transform: translateY(0);
    }
    25%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(0);
    }
    to {
        transform: translateY(0);
    }
} */

#game-instructions{
    font-size: 1.5em;
    line-height: 40px;
    padding-left: 30px;
    border: 10px solid rgb(107, 44, 112);
    border-style: outset;
}

#game-instructions span {
    display: inline-block;
    margin-left: 30px;
}

footer{
    border: 10px solid rgb(107, 44, 112);
    border-style: outset;
    font-size: 1.5em;
    line-height: 40px;
    padding-left: 30px;
}