body{
    margin:20px;
    width:1500px;
}

div, footer{
    outline: 1px solid blue;
}

header{
    height: 100px;
    text-align: center;
    font-size: 2em;
}

#flex-divs{
    height: 600px;
    display: flex;
    justify-content: space-evenly;
}

.ads{
    width: 250px;
}

#play-area{
    width: 900px;
    height: 600px;
    position: relative;
    background-image: url(/assets/Images/bg001.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
}

#start-button{
    position: absolute;
    height:100px;
    width: 200px;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: 700;
    
}

#start-timer{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    height:100px;
    width: 200px;
    font-size: 5em;
    font-weight: 700;
    text-align: center;
    color:red;
}

.score-board{
    border:1px solid purple;
    width: 150px;
    height: 100px; 
}

#game-timer{
    border:2px dashed orange;
    width: 200px;
    height: 80px; 
    background-color: black;
    color: red;
    font-size: 4em;
    text-align:center;
}

.players{
    width:60px;
    height:60px;
    position: absolute;
    
}

#player1{
    top:240px;
    left:100px;
}

#player2{
    top:240px;
    right:100px;
    animation: goldenFloating 3s ease-in-out infinite alternate;
}

@keyframes goldenFloating {
    from {
        transform: scaleX(-1) translateY(0);
    }
    25%{
        transform: scaleX(-1) translateY(0);
    }
    75%{
        transform: scaleX(-1) translateY(0);
    }
    to {
        transform: scaleX(-1) translateY(0);
    }
}

#game-instructions{
    height: 200px;
}

footer{
    height: 150px;
}