div, footer{
    outline: 1px solid blue;
}

header{
    height: 10vh;
    text-align: center;
    font-size: 2em;
}

#flex-divs{
    height: 55vh;
    display: flex;
    justify-content: space-evenly;
}

.ads{
    width: 15%;
}

#play-area{
    width: 60%;
    height: 100%;
    position: relative;
    background-image: url(/assets/Images/bg001.png);
    background-size: 100% 100%;
    display: flex;
}

.archers{
    width:10%;
    height:10%;
    display: inline-block;
}

#elf-archer{
    margin:30% 0 0 10%;
    position: absolute;
}

#golden-archer{
    margin:45% 0 0 60%;
    animation: goldenFloating 3s ease-in-out infinite alternate;
}

/* @keyframes elfFloating {
    from {
        transform: translateY(0);
    }
    20%{
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(400%);
    }
    to {
        transform: translateY(-300%);
    }
} */

@keyframes goldenFloating {
    from {
        transform: scaleX(-1) translateY(0);
    }
    25%{
        transform: scaleX(-1) translateY(-500%);
    }
    75%{
        transform: scaleX(-1) translateY(300%);
    }
    to {
        transform: scaleX(-1) translateY(0);
    }
}

#game-instructions{
    height: 15vh;
}

footer{
    height: 10vh;
}